.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: self-start;
  }
  
  .song-list {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .song-card {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  }
  
  .song-card h3 {
    margin-top: 0;
    color: white;
    margin-bottom: 10px;
    max-width: 400px;
  }

  .song-card img {
    max-width: 400px;
    max-height: 600px;
    border-radius: 4px;
  }
  
  .tag-list {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .tag {
    display: inline-block;
    background-color: #ddd;
    color: #333;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
  }
  
  .floating-btn, .floating-btn-del {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #c5c5c5;
    color: #333;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .floating-btn-del{
    right: 90px;
  }
  .floating-btn img, .floating-btn-del img{
    background-color: #c5c5c5;
  }
  
  
  .create-form {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 100px;
    color: white;
    width: 300px;
  }
  
  .create-form .top-label {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
  }

  .create-form button{
    border: none;
    outline: none;
    margin: 0;
    cursor: pointer;
  }
  
  .create-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .create-form input,
  .create-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
  }